#cameraBody{
    background-color: transparent;
    height:100%;

}

#camera{
    height:100%;
    color:#333;
    text-align: center;
    font-family: sans-serif;
    background-color: transparent;
}
.pictures{
    /*display: none;*/
}
.controls{
    margin-top:100%;

}
