body, ul{
    padding: 0;
    margin: 0;
}
body.ios{
    margin-top: 20px;
}
body.ios .android-only,
body.android .ios-only{
    display: none !important;
}
h2{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
li{
    list-style: none;
    clear: right;
    padding: 0;
    margin: 12px 0 0 4px;
}
li span.name{
            }
li span.state{
    float: right;
    padding: 2px;
}
li span.on{
    background-color: green;
}
li span.off{
    background-color: red;
}
li span.on,
li.off span.on,
li.on span.off{
    display: none;
}
li.on span.on{
    display: list-item !important;
}
#settings{
    border-top: 1px solid #000;
    margin-top: 24px;
    padding-top: 24px;
    width: 100%;
}
#settings button{
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}